################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DevSkim/bin
/src/DevSkim/obj
/src/packages
/src/.vs/
