################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Microsoft.DevSkim.VSExtension/bin
/source/Microsoft.DevSkim.VSExtension/obj
/source/Microsoft.DevSkim.VSExtension.Tests/bin
/source/Microsoft.DevSkim.VSExtension.Tests/obj
/source/TestResults
/source/packages
/source/Backup
/source/.vs/
