################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Microsoft.DevSkim.VSExtension/bin
/src/Microsoft.DevSkim.VSExtension/obj
/src/packages
/src/Backup
/src/.vs/
